body::-webkit-scrollbar{
    display: none;
}
.ayo::-webkit-scrollbar{
    display: none;
}
@media screen and (max-width: 480px) {
    body {
        background-color: black !important;
        color: black !important;
        height: 100vh !important;
        margin: 0 !important;
        overflow-x: hidden !important;
    }
    * {
        visibility: hidden; /* Hides all elements */
    }
}

